body {
    margin: 60px auto;
    width: 70%;
}
.heading {
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  text-decoration-style: wavy;
  text-decoration-color: rgb(48, 22, 24);
  background-color: rgba(75, 33, 36, 0.5);
}
